
.auth-card {
  width: 350px;
  padding: 30px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgb(0, 0, 0);
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

input {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

input:focus {
  outline: none;
  border-color: #4a90e2;
}

.btn {
  width: 100%;
  padding: 12px;
  background: #4a90e2;
  color: white;
  margin-top: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #357ABD;
}

.change-route {
  margin-top: 15px;
  font-size: 14px;
}

.change-route a {
  color: #4a90e2;
  text-decoration: none;
}
.fondo{
  background: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
