<div class="fondo">
  <div class="auth-card">
    <h2>Iniciar Sesión</h2>

    <form (ngSubmit)="onSubmit()">
      <input 
        type="email" 
        placeholder="Email"
        [(ngModel)]="login.email"
        name="email"
        required
      />

      <input 
        type="password" 
        placeholder="Contraseña"
        [(ngModel)]="login.password"
        name="password"
        required
      />

      <button type="submit" class="btn">Entrar</button>
    </form>

    <p class="change-route">
      ¿No tienes cuenta?  
      <a routerLink="/register">Regístrate</a>
    </p>
  </div>

</div>